{% extends "base.html" %}
{% block body %}
<div class="signup-form">
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}
  <form method="POST">
      {% csrf_token %}
      <h2>Login</h2>
      <p class="hint-text">Please enter your details to login.</p>
      <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="User Name" required="required">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required="required">
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
      </div>
  </form>
  <div class="text-center">Create New <a href="{% url 'biodata:user_registration'  %}">Signup</a></div>
</div>

{% endblock %}
