{% extends "base.html" %}


{% block body %}
<br>



<div class="button-group">

    <a href="{% url 'biodata:index' %}" class="btn btn-primary btn-md" role="button"> Go Home</a>

    <a href="{% url 'biodata:biodata' %}" class="btn btn-primary btn-md" role="button"> Preview Details</a>

    <a href="/admin" class="btn btn-primary btn-md" role="button"> View History</a>

</div>

<br>

<div class="container">

    <h4 class="text-info">Upload Biodata</h4>

    {% if mesages %}
        {% for messages in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong> {{messages|safe}} </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% else %}

    {{ order }}

    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-group row">
                <label class="col-2 col-form-label"> Upload Detail </label>
                <input type="file" name="file" class="col-10">
            </div><br>

            <div class="alert alert-info" role="alert">
                <a href="#" class="alert-link">Only CSV file is allowed</a> Order of CSV should be firstname, lastname, age, gender, address, date_of_birth, email.
                 Date format should be MM/DD/YYYY
            </div>

        <button class="btn btn-primary" type="submit" name="button">Add Detail</button>

    </form>

</div>

<br>

{% endblock %}